
 @media screen and (min-width: 1201px) {
    .software {
 		width: 128px;
 		height: 240px; 
 		background: url(software.png) 0px 0px;
 	}
 }  
 @media screen and (min-width: 1101px) and (max-width: 1200px) {
 	.software {
	 	width: 128px;
	 	height: 240px; 
	 	background: url(software.png) -129px 0px;
	}
 }
 @media screen and (min-width: 1001px) and (max-width: 1100px) {
    .software {
 		width: 128px;
 		height: 240px; 
 		background: url(software.png) -257px 0px;
 	}
 } 
 @media screen and (min-width: 901px) and (max-width: 1000px) {
    .software {
	 	width: 128px;
	 	height: 240px; 
	 	background: url(software.png) -385px 0px;
 	}
 } 
 @media screen and (min-width: 801px) and (max-width: 900px) {
	.software {
 		width: 128px;
 		height: 240px; 
 		background: url(software.png) -513px 0px;
 	}
 } 
 @media screen and (min-width: 701px) and (max-width: 800px) {
    .software {
	 	width: 128px;
	 	height: 240px; 
	 	background: url(software.png) 0px -240px;
	 }
 } 
 @media screen and (min-width: 601px) and (max-width: 700px) {
    .software {
	 	width: 128px;
	 	height: 240px; 
	 	background: url(software.png) -129px -240px;
 	}
 } 
 @media screen and (min-width: 501px) and (max-width: 600px) {
    .software {
 		width: 128px;
 		height: 240px; 
 		background: url(software.png) -257px -240px;
 	}
 } 
 @media screen and (min-width: 401px) and (max-width: 500px) {
    .software {
	 	width: 128px;
	 	height: 240px; 
 		background: url(software.png) -385px -240px;
 	}
 } 
 @media screen and (max-width: 400px) {
    .software {
	 	width: 128px;
 		height: 240px; 
 		background: url(software.png) -513px -240px;
 	}
 } 
