body {
	max-width: 100%;
}
tr {
	max-width: 100%;
}

tr td {
	border-bottom: 1px solid black;
}

img {
	max-height: 300px;
	max-width: 60%;
}

.head td {
	text-align: center;
	font-weight: bold;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}